<?xml version="1.0"?>
<!--
/**
 * Copyright 2022 (c) mediarox UG (haftungsbeschraenkt) (http://www.mediarox.de)
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mediarox">
            <label>Mediarox</label>
        </tab>
        <section id="checkout_street_number" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>mediarox</tab>
            <resource>Mediarox_CheckoutAddressStreetNumber::config</resource>
            <label>Checkout Street Number</label>
            <group id="general" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>General</label>
                <field id="enable" showInDefault="1" showInWebsite="1" showInStore="1" translate="label" type="select">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
    </system>
</config>