<?xml version="1.0"?>
<!--
/**
 * Copyright 2022 (c) mediarox UG (haftungsbeschraenkt) (http://www.mediarox.de)
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>customer</tab>
            <resource>Magento_Customer::config_customer</resource>
            <group id="address">
                <field id="split_street_into_name_and_number" showInDefault="1" showInWebsite="1" showInStore="1" translate="label" type="select">
                    <label>Split the street into name and number</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
    </system>
</config>